@{
    Layout = null;
}

@model SignUpModel


<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

            .container h2 {
                text-align: center;
            }

            .container label {
                display: block;
                margin-bottom: 10px;
            }

            .container input[type="text"],
            .container input[type="password"] {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .container input[type="submit"] {
                width: 100%;
                padding: 10px;
                margin-top: 10px;
                background-color: #4CAF50;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

                .container input[type="submit"]:hover {
                    background-color: #45a049;
                }
    </style>
</head>
<body>
    <div class="container">
        <h2>Registration</h2>
        <form method="post" asp-action="SignUp" asp-controller="Account">
            <label for="username">Username:</label>
            <input type="text" asp-for="Username" required>


            <label for="password">Password:</label>
            <input type="password" asp-for="Password" required>
            <input type="submit" value="SignUp">

            <div asp-validation-summary="All"></div>
        </form>
    </div>
</body>
</html>
